# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/*
# opcional, si quiero compartir estilo de código
!.idea/codeStyles

# Build outputs
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Sistema
.DS_Store

# Archivos de IDE
.idea/*
!.idea/codeStyles   # opcional, si quieres compartir estilos de formato

# Logs de Kotlin
.kotlin/

# Archivos de shell/editores
.lesshst
.viminfo

# Keystore files
*.jks

# Signing config
key.properties

# Para que Git los ignore de verdad necesitas sacarlos del índice pero mantenerlos en tu máquina
# (Se aplica el siguiente código en gitBash).
# git rm --cached .idea/deploymentTargetSelector.xml
# git rm --cached -r .idea .kotlin .lesshst .viminfo