<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- BUGS
         1.- Al momento de pintar un texto si el fin es menor que el inicio de selección truena.

         2.- Los toast tiran error, de hecho ya ni el icono aparece.
         MEJORAS


    -->
    <application
        android:name=".ReviewApp"
        android:allowBackup="true"
        android:icon="@drawable/img_inicio"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Review"
        android:requestLegacyExternalStorage="true">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- AdMob app ID: ca-app-pub-5116088101296740~9876600140 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- El WindowSoft... es para que no se muevan los componentes cuando se habra el teclado -->
        <activity
            android:name="com.jonathanev.review.Activities.Activity_Modificar"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:screenOrientation="userPortrait" />

        <activity
            android:name="com.jonathanev.review.Activities.Activity_RepasarGuia"
            android:exported="false"
            android:screenOrientation="userPortrait" />

        <!-- El WindowSoft... es para que no se muevan los componentes cuando se habra el teclado -->
        <activity
            android:name="com.jonathanev.review.Activities.Activity_Cuestionario"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jonathanev.review.MainActivity"
            android:exported="true"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>