<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- BUGS
         1.- (CREENCIA) Probar copiar un texto de WhatsApp, creo que cuando se copia y se pega en la App
             trae textos extraños.
         NO COMPROBADO AÚN

         2.- Ocurrió un error al momento de crear una guía: estuve copiando lo que estaba en chatGPT
             y cambie de colores partes del texto

         3.- Asegurarse que no puedas acceder a las imagenes si realmente el usuario no te dió permiso.

         4.- Si el usuario tiene texto y quiere agregar una imagen..., al dar click fuera del re-
             cuadro ya no regresarán los iconos.

         MEJORAS
         1.- Usar la obtención de la variable mutable de una guia al dar click en una guia en específico.

         2.- Poner un mensaje al momento de cambiar el nombre de una guia.

         3.- Cuando creas una guia y ya hay una carpeta con el mismo nombre no deja crearla.

         4.- Hay que controlar que no puedan crear carpetas que se llamen Guias y tampoco imagenes

         5.- Al momento de crear el nombre de algo no puedes poner una /

         6.- Asegurarte de borrar las ImagenesPivote cuando le das para atras, botones o demás.

         PRUEBAS

         1.- Probar cuando se eliminen guias o se cambien de lugar cuando la carpeta o el lugar se
         quede vacío
    -->
    <application
        android:name=".ReviewApp"
        android:allowBackup="true"
        android:icon="@drawable/img_inicio"
        android:label="@string/nameApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Review"
        android:requestLegacyExternalStorage="true">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- AdMob app ID: ca-app-pub-5116088101296740~9876600140 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- El WindowSoft... es para que no se muevan los componentes cuando se habra el teclado -->
        <activity
            android:name="com.jonathanev.review.UI.View.Activity_Modificar"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:screenOrientation="userPortrait" />

        <activity
            android:name="com.jonathanev.review.UI.View.Activity_RepasarGuia"
            android:exported="false"
            android:screenOrientation="userPortrait" />

        <!-- El WindowSoft... es para que no se muevan los componentes cuando se habra el teclado -->
        <activity
            android:name="com.jonathanev.review.UI.View.Activity_Cuestionario"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jonathanev.review.UI.View.MainActivity"
            android:exported="true"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>